.main-header {
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: auto;
}

.logo {
    font-weight: bold;
    font-size: 1.5rem;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 30%;
}