@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

h2 {
    font-size: 1.7rem;
    margin: 20px 0;
}

pre {
    border-radius: 5px;
}

.content {
    width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.about {
    padding: 20px;
    background-color: #2f3a3e;
    color: #fff;
}

.about-info {
    padding: 20px;
}

.about-img {
    width: 600px;
    height: 600px;
    object-fit: cover;
}

.language-php {
    background-color: #777BB4;
    color: #fff;
    padding: 20px;
    margin: 20px 0;
}